main {
  padding-top: 45px;
}

main .row {
  margin-bottom: 15px;
}

.box {
  height: 150px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}